# UDEMY COURSES DATA ANALYSIS REPORT

In this notebook, we will analyze Udemy course data. The project relies on the Udemy Courses Data 2023 provided by Kaggle. It answers five simple questions to show my proficiency in SQL for data analysis.

We will find answers to questions such as:

* How many instructors and courses are there in total?

* What are the 10 most popular courses? 

* What are the 10 most popular trainers? 

* What are the most viewed instructor's courses? 

* What are the 5 most popular data analysis courses?

Jupyter notebooks can be powerful tools to connect to your remote database. They allow you to streamline, replicate, and document your data. Python Database (DB) APIs are compatible with various databases, and in particular, Python supports relational database systems. In this stage, using a Jupyter notebook, we will briefly see how to connect to a PostgreSQL database, which is a popular open-source relational database, and how to make queries in a Jupyter Notebook using Python language.

In [1]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\gokcen\anaconda3\lib\site-packages (2.0.5.post1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\gokcen\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\gokcen\anaconda3\lib\site-packages (from sqlalchemy) (4.3.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import sqlalchemy

In [3]:
engine = sqlalchemy.create_engine('postgresql://postgres:postgres@localhost/archive')

In [4]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\gokcen\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: ipython-genutils in c:\users\gokcen\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in c:\users\gokcen\anaconda3\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: ipython in c:\users\gokcen\anaconda3\lib\site-packages (from ipython-sql) (7.31.1)
Requirement already satisfied: prettytable in c:\users\gokcen\anaconda3\lib\site-packages (from ipython-sql) (3.6.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\gokcen\anaconda3\lib\site-packages (from ipython-sql) (2.0.5.post1)
Requirement already satisfied: six in c:\users\gokcen\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\gokcen\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (1.1.1)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\gokcen\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.3.0)
Requirement already satisfied: matplotlib-inline in c:\users\gokcen\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: backcall in c:\users\gokcen\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: colorama in c:\users\gokcen\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.5)
Requirement already satisfied: jedi>=0.16 in c:\users\gokcen\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: pygments in c:\users\gokcen\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: traitlets>=4.2 in c:\users\gokcen\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: pickleshare in c:\users\gokcen\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\gokcen\anaconda3\lib\site-packages (from ipython->ipython-sql) (63.4.1)
Requirement already satisfied: decorator in c:\users\gokcen\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\gokcen\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.20)
Requirement already satisfied: wcwidth in c:\users\gokcen\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\gokcen\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Note: you may need to restart the kernel to use updated packages.

In [5]:
%load_ext sql

In [6]:
%env database_url=postgresql://postgres:postgres@localhost/archive

env: database_url=postgresql://postgres:postgres@localhost/archive

## How many instructors and courses are there in total?
Let's start looking for answers to our questions.
The first line of code will uniquely tell us how many instructors and courses there are in total.

In [7]:
%%sql 
SELECT COUNT(DISTINCT instructors_id) AS total_instructors, 
COUNT(id) AS total_courses 
FROM courses;

1 rows affected.

[(32233, 83104)]

## What are the 10 most popular courses?
When looking for the most popular courses, we'll consider those with statistically high reviews and above average ratings.

In [8]:
%%sql 
SELECT title, rating, num_reviews 
FROM courses
WHERE rating >= (SELECT avg(rating) FROM courses) 
ORDER BY num_reviews DESC
LIMIT 10;

 * postgresql://postgres:***@localhost/archive
10 rows affected.

[('The Complete Python Bootcamp From Zero to Hero in Python', Decimal('4.5927815'), Decimal('452973')),
 ('Microsoft Excel - Excel from Beginner to Advanced', Decimal('4.659531'), Decimal('357442')),
 ('The Complete 2023 Web Development Bootcamp', Decimal('4.667258'), Decimal('263152')),
 ('The Web Developer Bootcamp 2023', Decimal('4.6961474'), Decimal('254711')),
 ('Angular - The Complete Guide (2023 Edition)', Decimal('4.5926924'), Decimal('180257')),
 ('100 Days of Code: The Complete Python Pro Bootcamp for 2023', Decimal('4.6952515'), Decimal('177568')),
 ('Java Programming Masterclass updated to Java 17', Decimal('4.5502763'), Decimal('177184')),
 ('React - The Complete Guide (incl Hooks, React Router, Redux)', Decimal('4.609824'), Decimal('176452')),
 ('Ultimate AWS Certified Solutions Architect Associate SAA-C03', Decimal('4.70473'), Decimal('168032')),
 ('The Complete JavaScript Course 2023: From Zero to Expert!', Decimal('4.728533'), Decimal('167670'))]

## What are the 10 most popular instructors?
We'll consider the number of reviews when querying the most popular instructors. Looking by the results, Jose Portilla makes a good difference in this regard.

In [9]:
%%sql 
SELECT i.title, c.num_reviews 
FROM courses c INNER JOIN instructors i ON i.id = c.instructors_id 
ORDER BY num_reviews DESC LIMIT 10;

 * postgresql://postgres:***@localhost/archive
10 rows affected.

[('Jose Portilla', Decimal('452973')),
 ('Kyle Pew', Decimal('357442')),
 ('Dr. Angela Yu', Decimal('263152')),
 ('Colt Steele', Decimal('254711')),
 ('Maximilian Schwarzmüller', Decimal('180257')),
 ('Dr. Angela Yu', Decimal('177568')),
 ('Tim Buchalka', Decimal('177184')),
 ('Academind by Maximilian Schwarzmüller', Decimal('176452')),
 ('Stephane Maarek | AWS Certified Cloud Practitioner,Solutions Architect,Developer', Decimal('168032')),
 ('Jonas Schmedtmann', Decimal('167670'))]

## What are the most reviewed instructor's courses?
In this line we see all the courses of the most popular instructor, sorted by their rating. The ratings are pretty good too.

In [10]:
%%sql 
SELECT title,rating FROM courses
WHERE instructors_id = (SELECT i.id FROM courses c INNER JOIN instructors i ON i.id = c.instructors_id 
                        ORDER BY num_reviews DESC
                        LIMIT 1)
ORDER BY rating DESC;

 * postgresql://postgres:***@localhost/archive
38 rows affected.

[('Python for Finance and Algorithmic Trading with QuantConnect', Decimal('4.707246')),
 ('Complete Tensorflow 2 and Keras Deep Learning Bootcamp', Decimal('4.68416')),
 ('Go Bootcamp: Master Golang with 1000+ Exercises and Projects', Decimal('4.6828847')),
 ('The Complete SQL Bootcamp: Go from Zero to Hero', Decimal('4.6764865')),
 ('PyTorch for Deep Learning with Python Bootcamp', Decimal('4.67154')),
 ('Master Git and GitHub in 5 Days: Go from Zero to Hero', Decimal('4.667742')),
 ('Python and Flask Bootcamp: Create Websites using Flask!', Decimal('4.6664762')),
 ('Python for Machine Learning & Data Science Masterclass', Decimal('4.6310763')),
 ('Probability and Statistics for Business and Data Science', Decimal('4.630266')),
 ('Math for Data Science Masterclass', Decimal('4.629254')),
 ('The Complete Tableau Bootcamp for Data Visualization', Decimal('4.6259975')),
 ('Python for Data Science and Machine Learning Bootcamp', Decimal('4.622137')),
 ('Data Science and Machine Learning Bootcamp with R', Decimal('4.621786')),
 ('Interactive Python Dashboards with Plotly and Dash', Decimal('4.6212773')),
 ('Python for Time Series Data Analysis', Decimal('4.617966')),
 ("Python pour l'Analyse Financière & Algorithmes de Trading", Decimal('4.605028')),
 ('The Complete Python Bootcamp From Zero to Hero in Python', Decimal('4.5927815')),
 ('Google Cloud - Associate Cloud Engineer Certification Course', Decimal('4.572871')),
 ('Django 4 and Python Full-Stack Developer Masterclass', Decimal('4.569152')),
 ('Data Science Career Guide - Interview Preparation', Decimal('4.5680137')),
 ('NLP - Natural Language Processing with Python', Decimal('4.565402')),
 ('Python for Computer Vision with OpenCV and Deep Learning', Decimal('4.561217')),
 ('Spark and Python for Big Data with PySpark', Decimal('4.5412364')),
 ('Web Automation with Selenium WebDriver and Python', Decimal('4.5069556')),
 ('Leading Agile Teams with Jira Software Cloud', Decimal('4.4850693')),
 ('Complete Excel Bootcamp: Zero to Hero in Excel', Decimal('4.4801717')),
 ('Practical AI with Python and Reinforcement Learning', Decimal('4.4764137')),
 ('Python for Data Structures, Algorithms, and Interviews!', Decimal('4.4599075')),
 ('Complete Python 3 Masterclass Journey', Decimal('4.4498806')),
 ('Python and Django Full Stack Web Developer Bootcamp', Decimal('4.440449')),
 ('Deep Learning with PyTorch for Medical Image Analysis', Decimal('4.426891')),
 ('Scala and Spark for Big Data and Machine Learning', Decimal('4.393946')),
 ('Terraform for Google Cloud: Learn Infrastructure as Code', Decimal('4.390502')),
 ('Python for Financial Analysis and Algorithmic Trading', Decimal('4.3687706')),
 ('Learning Python for Data Analysis and Visualization Ver 1', Decimal('4.323516')),
 ('Complete Guide to TensorFlow for Deep Learning with Python', Decimal('4.209859')),
 ('Advanced SQL Bootcamp', Decimal('4.0625734')),
 ('Complete Power BI Bootcamp: Go from Zero to Hero', Decimal('3.3959134'))]

## What are the 5 most popular data analysis courses?
Here, when we query the most popular data analysis courses, we display the highest reviewed courses with a rating greater than 4,50.

In [11]:
%%sql 
SELECT title,num_reviews,rating 
FROM courses
WHERE title ILIKE '%Data Analysis%' AND rating > 4.5
ORDER BY num_reviews DESC
LIMIT 5;

 * postgresql://postgres:***@localhost/archive
5 rows affected.

[('Microsoft Excel - Data Analysis with Excel Pivot Tables', Decimal('46711'), Decimal('4.6264486')),
 ('Data Analysis with Pandas and Python', Decimal('18831'), Decimal('4.668358')),
 ('Complete Introduction to Business Data Analysis', Decimal('12161'), Decimal('4.602791')),
 ('Data Analysis Essentials Using Excel', Decimal('9904'), Decimal('4.5659075')),
 ('SQL for Data Analysis: Beginner MySQL Business Intelligence', Decimal('7412'), Decimal('4.651596'))]